[defaults]
; inventory = ./inventories/production/hosts1.yml
inventory = ./inventories/production/hosts
vars_plugins = ./vars_plugins
host_key_checking = False
remote_user = adminuser
retry_files_enabled = False
roles_path = ./roles
localhost_warning = False

[inventory]
inventory_unparsed_warning = False